///DOWNLOAD SECTION
.download-section{
    text-align:center;

    .download{
        box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
        border-radius:10px;
        width: 80%;
        @include ALIGNCENTER;

        &.btn{
            width:230px; 
        }

    }
}