.join-us{
    text-align:center;
    background: $primary-blue;
    color:white;

    .email-field{
        width:100%;
        @include ALIGNCENTER;
        height:40px;
        padding: 5px 8px;
        border-radius: 15px;
        border:none;
        outline:0;
    }

    .btn{
        width:100%;
        max-width:400px;
        @include ALIGNCENTER;
    }

    @media (min-width:1023px){
        form {
            width:50%;
            max-width:600px;
            @include ALIGNCENTER;
            display:flex;
            justify-content: center;
            align-items: center;
            .btn-primary-red{
                margin-left:1rem;
          
                width:140px;
                height:40px;
            }
    
        }
    }
}
