.join-us{
    text-align:center;
    background: $primary-blue;
    color:white;

    .email-field{
        width:100%;
        height:40px;
        padding: 5px 8px;
        border-radius: 15px;
        border:none;
        outline:0;
    }

    .btn{
        width:100%;
    }
}
