.hide-originally{
    display:none;
}
.show-sm{
    display:block;
}

@media (max-width: 766px){
    .show-sm{
        display:block;
    }
    .hide-sm{
        display:none;
       }
}
@media (min-width:767px){
    .show-sm{
        display:none;
    }
}


//Layout

.wrapper{
    padding: 2rem;
}

.wrapper-narrow{
    padding: 0 12%;
}
@mixin ALIGNCENTER{
    margin-right:auto;
    margin-left:auto;
}

@for $i from 1 through 10 {
    .py-#{$i}{ padding: 1rem*$i 0;}
}
@for $i from 1 through 10 {
    .my-#{$i}{ margin: 1rem*$i 0;}
}
@for $i from 1 through 10 {
    .p-#{$i}{ padding: 1rem*$i;}
}

@for $i from 1 through 10 {
    .m-#{$i}{ margin: 1rem*$i;}
}


.flex-box{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

//Text
.heading-text{
    color: $main-dark;
}
.large{
    font-size: 1.8rem;
    @media (min-width:1023px){
        font-size:2.4rem;
    }
    @media (min-width:1280px){
        font-size:3rem;
    }
}
.lh-2{
    line-height:1.6;
}
.lh-3{
    line-height:2;
}
.lead{
    font-size:1.3rem;
    @media (min-width:1023px){
        font-size:1.8rem;
    }
}

.title{
    font-size:0.9rem;
}

.align-left{
    text-align:left;
}

.emphasis{
    text-transform: uppercase;
    letter-spacing: 2px;
}

//BTN
.btn{
    cursor:pointer;
    padding: 0.8rem 1.2rem;
    border-radius: 0.6rem;
    font-size:0.8rem;
    font-weight:500;

    &.btn-primary-blue{
        background: $primary-blue;
        color:white;
        margin-right:1rem;

        &:hover{
            background:transparent;
            border: 1px solid $primary-blue;
            color:$primary-blue;
        }
    }
    &.btn-light{
        background: #dddddd;
        color: $main-dark;
        margin-right:1rem;
        &:hover{
            background:transparent;
            border: 1px solid $main-dark;
        }
    }
    &.btn-primary-red{
        background: $primary-red;
        color:white;

        &:hover{
            background:white;
            border: 1px solid $primary-red;
            color: $primary-red;
        }
    }
}

.section-title{
    @media (min-width:767px){
        width:70%;
        max-width:550px;
        @include ALIGNCENTER;
    }
}

@mixin FLEX{
    display:flex;
    justify-content: space-between;
    align-items: center;
}